# Ignorar directorios binarios y de compilación
/bin/
/obj/

# Ignorar archivos de usuario (por ejemplo, archivos de configuración locales)
*.user
*.suo
*.sln.docstates

# Ignorar archivos temporales y de caché generados por Visual Studio
*.vscode/
*.vscode-test/
.vscode/
_ReSharper*/

# Ignorar archivos de caché NuGet
packages/
*.nuget.props
*.nuget.targets

# Ignorar archivos de caché de Rider (IDE de JetBrains)
.idea/
.rider/
